body {
    background-color: #2a2a72;
    color: antiquewhite;
}

a:link {
    text-decoration: none;
    color: #ffa400;
}

a:visited {
    text-decoration: none;
    color: #ffa400;
}

a:hover {
    text-decoration: underline;
    color: #ffa400;
}

a:active {
    text-decoration: underline;
    color: #ffa400;
}

h2 {
    margin: 0px;
}

img { 
    border: 3px solid #ffa400;
    border-radius: 15px;
 }

thead {
    background-color: #757575;
    color: antiquewhite;
}

.btn-light {
    margin-top: 5px;
    margin-bottom: 6px;
    top: 0px;
    bottom: 0px;
    line-height: 2;
    background-color: #009ffd;
    color: black;
    border-color: #009ffd;
}

.content {
    background-color: #757575;
    color: black;
}

.dropdown-divider {
    border-top: 1px solid #ffa400;
}

.dropdown-item {
    background-color: black;
    color: #aca1a1;
}

.dropdown-menu {
    background-color: black;
}

.img-fluid {
    margin: auto;
    display: block;
}

.navbar-brand {
    text-align: center;
    line-height: 100%;
    background-color: #ffa400;
    color: black !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    left: -10px;
    display: inline-block;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 180px;
}

.navbar-light {
    background-color: black;
    padding-bottom: 0px;
}

.nav-link {
    color: #aca1a1;
    background-color: transparent;
}

.navtog {
    position: absolute;
    right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    top: 0px;
    bottom: 0px;
    line-height: 1;
    display: none !important;
}

.plot {
    width: 150px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding-top: 60px;
}

.table {
    background-color: #009ffd;
    color: antiquewhite;
    border-radius: 10px;
}

.viscol {
    
    padding-left: 2px;
    padding-right: 2px;
}

#active-img {
    border: 3px solid black;
}

#btn-comp {
    position: absolute;
    right: 167.5px;
    display: inline-block;
}

#btn-data {
    position: absolute;
    right: 98.5px;
    display: inline-block;
}

#btn-plot {
    position: absolute;
    right: 10px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    bottom: 0px;
}

#clsbtn {
    display: none;
    position: absolute;
    right: 10px;
    top: -5px;
    font-size: 35px;
    color: #5c5656 !important;
    background-color: transparent !important;
}

#footer {
    display: block;
    height: 60px;
    line-height: 60px; 
    margin-bottom: 0px;   
    text-align: center;
    background-color: black;
    color: #ffa400;
}

#items {
    display: none;
}

#sum-img {
    border-radius: 10px;
}

#summary {
    background-color: #009ffd;
    border-radius: 10px;
    vertical-align: middle;
    margin-bottom: 15px;
}

#vis {
    background-color: #009ffd;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 15px;
    min-width: 235px;
}

@media screen and (max-width: 767px) {
    .btn-light {
        display: none !important;
    }

    #btn-plot {
        display: none;
    }

    .navbar-light {
        background-color: #ffa400;
    }

    .navtog {
        display: inline-block !important;
    }
  }